@charset "utf-8";
/* CSS Document */
table tr #N2{font-family:Georgia, "Times New Roman", Times, serif;
font-size:50px;
color:#C03;
}
#N1{background-color:#CCC;}
#N3{ text-align:center;
Font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
border-style:solid;
font-weight:bold;
}
table tr td a{
	text-decoration:none;
	color:#F93;}
table tr td a:hover{
	color:#06F;
	text-decoration:underline;}

h1{font-family:"Times New Roman", Times, serif;
font-size:70px;
font-weight:bold;
text-align:center;
color:#C63;
	}
 table tr td p{font-family:Georgia, "Times New Roman", Times, serif;
font-size:40px;
text-indent:20px;
color:#F39;
}	